- @no_container = true
- page_title "Metrics for environment", @environment.name
- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'common_d3'
  = webpack_bundle_tag 'monitoring'

.prometheus-container{ class: container_class }
  .top-area
    .row
      .col-sm-6
        %h3
          Environment:
          = link_to @environment.name, environment_path(@environment)

  #prometheus-graphs{ data: { "settings-path": edit_project_service_path(@project, 'prometheus'),
    "documentation-path": help_page_path('administration/monitoring/prometheus/index.md'),
    "empty-getting-started-svg-path": image_path('illustrations/monitoring/getting_started.svg'),
    "empty-loading-svg-path": image_path('illustrations/monitoring/loading.svg'),
    "empty-unable-to-connect-svg-path": image_path('illustrations/monitoring/unable_to_connect.svg'),
    "additional-metrics": additional_metrics_project_environment_path(@project, @environment, format: :json),
    "has-metrics": "#{@environment.has_metrics?}", deployment_endpoint: project_environment_deployments_path(@project, @environment, format: :json) } }
